@import "https://fonts.googleapis.com/css?family=Pontano+Sans";
$font15 : 15px;
$font18 : 18px;
$font24 : 24px;
$font30 : 30px;
$font36 : 36px;
$color000 : #000000;
$color111 : #111111;
$color222 : #222222;
$color333 : #333333;
$color666 : #666666;
$color999 : #999999;
$colorccc : #cccccc;
$colorddd : #dddddd;
$colorfff : #ffffff;
$colorefr : #f9f9f9;
$colorf00 : #ff0000;

body {
    font-family: 'Pontano Sans', sans-serif;
    .g-content{
        margin: 0;
    }
    .fa{
        font-size: 16px;
    }
    a{
        color: $color666;
        &:hover{
            color: $color000;
        }
        &:active{
            color: $color000;
        }
    }
    .button, .btn{
        background: $color000;
        border-radius: 0px;
        font-size: $font15;
        color: $colorfff;
        margin: 0;
        padding: 9px 15px;
        border: 1px solid $colorccc;
        &:hover{
            color: $color000;
        }
    }
    .btn-primary:hover{
        background: $colorddd;
    }
    hr{
        margin: 1.0rem 0 1.25rem;
        border-bottom: 1px solid #e3e3e3;
    }
    input{
        font-size: $font15;
        border-radius: 0;
    }
    .control-group{
        margin-bottom: 20px;
    }
}

h1, h2, h3, h4, h5, p, div, a,table, tbody, tr, td, span {
    font-family: 'Pontano Sans', sans-serif;
    font-weight: normal;
}

h1{ 
    font-size: $font36; 
    color: $color000;
    padding-bottom: 10px;
    border-bottom: 1px solid $colorddd;
}
h2{ 
    font-size: $font30;
    padding-bottom: 10px;
    border-bottom: 1px solid $colorddd;
}
h3{ 
    font-size: $font24; 
    margin: 0.75rem 0;
}
h4{ 
    font-size: $font18;
    margin: 0.75rem 0;
}
h5{
    margin: 0.75rem 0;
}

p{ 
    font-size: $font15; 
    margin: 0.5rem 0;
}



#g-header{
    background: $color000;
    height: 85px;
    .g-content{
        padding-top: 0;
        .gantry-logo img{
            width: auto;
        }
        .search{
            padding-top: 25px;
            input.search-query{
                border-radius: 0px;
                width: 80%;
                font-size: $font15;
                padding: 6px 10px;
            }
            .button ,.btn{
                padding: 1px 12px 2px;
                background: $color333;
                border-radius: 0px;
                border: 0;
            }
            .fa{
                font-size: $font24;
            }
        }
        .g-main-nav{
            padding-top: 7px;
            .g-menu-item{
                .g-menu-item-container{
                    padding: 0.5rem 0.5rem;
                    color: $colorccc;
                    .fa{
                        display: block;
                        font-size: $font30;
                        text-align: center;
                    }
                    .g-menu-item-title{
                        font-size: $font15;
                    }
                    .g-menu-parent-indicator:after{
                        width: 1rem;
                    }
                    &:hover{
                        color: $colorfff;
                    }
                }
                .g-dropdown{
                    background: rgba(0,0,0,0.8);
                    padding: 0 10px 10px 10px;
                    left: none;
                    right: 0;
                }
            }
            li:not(.g-menu-item-type-particle):not(.g-menu-item-type-module):hover,
            li:not(.g-menu-item-type-particle):not(.g-menu-item-type-module).active,
            li:not(.g-menu-item-type-particle):not(.g-menu-item-type-module).active.g-selected{
                background: none;
                > .g-menu-item-container{
                    color: $colorfff;
                }
            }
            .g-menu-item-type-component{
                .g-dropdown{
                    width: 230px;
                    .sourcecoast{
                        form{
                            margin: 0;
                        }
                        .btn{
                            border: 1px solid $color666;
                            border-radius: 0;
                            background: none;
                            width: 43%;
                            margin-right: 10px;
                            font-size: 16px;
                            box-shadow: none;
                            text-shadow: none;
                            &:hover{
                                border: 1px solid $colorccc;
                                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,255,255,.6);
                                -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,255,255,.6);
                                box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255,255, .6);
                            }
                        }
                        .sclogin-joomla-login{
                            border-bottom: 1px solid $color666;
                            margin-bottom: 10px;
                            input.input-block-level{
                                width: 93% !important;
                                border-radius: 0;
                                border-top: 0;
                                border-left: 0;
                                border-right: 0;
                                background: none;
                                border-bottom: 1px solid $color666;
                                color: $colorfff;
                                &:focus{
                                    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,255,255,.6);
                                    -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,255,255,.6);
                                    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255,255, .6);
                                }
                            }
                            .control-group{
                                margin-bottom: 15px;
                            }
                        }
                        .sclogin-social-login .pull-left{
                            margin: 0;
                        }
                    }
                }
            }
            .g-menu-item-type-separator{
                .g-dropdown{
                    width: 400px;
                    form{
                        margin: 0;
                    }
                    .button{
                        border: 1px solid $color666;
                        border-radius: 0;
                        background: none;
                        width: 43%;
                        margin-right: 10px;
                        font-size: 16px;
                        margin-top: 15px;
                        box-shadow: none;
                        text-shadow: none;
                        &:hover{
                            border: 1px solid $colorccc;
                            -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,255,255,.6);
                            -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,255,255,.6);
                            box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255,255, .6);
                            color: $colorfff;
                        }
                    }
                    #hikashop_cart_module{
                        table{
                            border-color: $color666;
                            thead{
                                tr{
                                    th{
                                        background: $color000;
                                    }
                                }
                            }
                            td{
                                border-color: $color666;
                                width: 36%;
                            }
                            .hikashop_product_price{
                                color: $colorf00;
                            }
                        }
                    }
                }
            }
        }
    }
}

#g-navigation{
    background: $color000;
    background: -moz-radial-gradient(center, ellipse cover, $color000 0%, $color222 100%);
    background: -webkit-radial-gradient(center, ellipse cover, $color000 0%,$color222 100%);
    background: -o-radial-gradient(center, ellipse cover, $color000 0%,$color222 100%);
    background: -ms-radial-gradient(center, ellipse cover, $color000 0%,$color222 100%);
    background: radial-gradient(ellipse at center, $color000 0%,$color222 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$color000, endColorstr=$color222,GradientType=1 );
    .g-content{
        padding: 0 0.938rem;
        .hikashop_category_information{
            .thumbnails{
                border: 0;
                margin: 0;
                .hikashop_category {
                    margin: 0;
                    width: auto;
                    .hikashop_container{
                        margin: 0;
                        .hikashop_subcontainer{
                            background: none;
                            border: 0;
                            text-align: left;
                            border-radius: 0;
                            padding: 0.7rem 1.2rem;
                            .hikashop_category_list{
                                display: none;
                            }
                            .hikashop_category_name{
                                color: $colorccc;
                            }
                            &:after{
                                cursor: pointer;
                                width: 1.0rem;
                                opacity: 0.8;
                                font-family: FontAwesome;
                                content: "\f078";
                                text-align: right;
                            }
                            &:hover{
                                .hikashop_category_list{
                                    position: absolute;
                                    display: block;
                                    left: 0;
                                    right: auto;
                                    top: 40px;
                                    padding: 0 15px 25px 15px;
                                    list-style: none;
                                    margin: 0;
                                    background: rgba(0, 0, 0, 0.8);
                                    .hikashop_category_list_item{
                                        padding: 15px 15px;
                                        border-bottom: 1px solid $color666;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

#g-feature{
    padding: 0;
    background: $colorefr;
    .breadcrumb{
        margin: 0;
        padding: 0;
        background: none;
        .active{
            color: $color000;
        }
        li{
            span{
                color: $color000;
            }
            a{
                span{
                    color: $color666;
                }
            }
            .divider{
                padding: 0 10px;
                img{
                    display: none;
                }
                &:after{
                    cursor: pointer;
                    width: 1.0rem;
                    opacity: 0.8;
                    font-family: FontAwesome;
                    content: "\f105";
                    text-align: right;
                }
            }
        }
    }
}

//商品分類
.view-category, .view-product{
    #g-main{
        .g-content{
            padding-top: 0;
            .hikashop_categories_listing_main{
                .thumbnails{
                    .hikashop_subcontainer{
                        border-color: $colorddd;
                        border-radius: 0;
                        .hikashop_category_image{
                            height: auto !important;
                        }
                    }
                }
            }
            .hikashop_products_listing_main{
                h2{
                    font-size: $font30;
                    color: $color000;
                    font-weight: normal;
                }
                .row-fluid{
                    .thumbnails{
                        margin: 0 0 20px;
                        .hikashop_subcontainer{
                            border-color: $colorddd;
                            border-radius: 0;
                            .hikashop_product_image{
                                margin-bottom: 5px;
                                .hikashop_product_image_subdiv{
                                    width: 100% !important;
                                }
                            }         
                            .hikashop_product_name{
                                a{
                                    color: $color000;
                                    font-size: $font18;
                                    &:hover{
                                        color: $colorf00;
                                    }
                                }
                            }
                            .hikashop_product_desc{
                                .text_container{
                                    color: $colorf00!important;
                                    .tl{
                                        text-align: center!important;
                                    }
                                }
                            }
                            .hikashop_compare_button{
                                background: none;
                                color: $color000;
                                border-top: 0;
                                border-left: 0;
                                border-right: 0;
                                box-shadow: none;
                                &:hover{
                                    color: $colorf00;
                                }
                            }
                            .hikashop_product_price_full{
                                float: right;
                                margin-right: 10px;
                                width: 200px;
                                border-bottom: 1px solid $colorccc;
                                padding: 7px 10px;
                                text-align: right;
                                color: #f00;
                                font-size: $font18;
                                line-height: 24px;
                                .hikashop_product_price{
                                    color: $colorf00;
                                    font-size: $font18;
                                    line-height: 24px;
                                }
                            }
                            form{
                                margin: 15px 10px 15px 0;
                                text-align: right;
                                .hikashop_product_quantity_change_div_leftright{
                                    margin: 0 2px 0 10px;
                                    span{
                                        border-radius: 0;
                                        background: none;
                                        padding: 0 5px;
                                        a{
                                            color: $color000;
                                            font-size: $font30;
                                            &:hover{
                                                color: $colorf00;
                                            }
                                        }
                                        .hikashop_product_quantity_field_change_plus{
                                            line-height: 38px;
                                        }
                                        .hikashop_product_quantity_field_change_minus{
                                            line-height: 27px;
                                        }
                                    }
                                    span:last-child{
                                        padding: 0 6px 8px;
                                    }
                                    .hikashop_product_quantity_field{
                                        font-size: $font18;
                                        line-height: 18px;
                                        color: $color000;
                                        padding: 0.47rem 0.7rem;
                                        width: 15px;
                                        text-align: right;
                                    }
                                }
                                .hikashop_product_quantity_add_to_cart_div{
                                    display: inline-block;
                                }
                                #hikashop_add_wishlist{
                                    display: inline-block;
                                    input[name="wish"]{
                                        background: none;
                                        color: $color000;
                                        border-top: 0;
                                        border-left: 0;
                                        border-right: 0;
                                        box-shadow: none;
                                        &:hover{
                                            color: $colorf00;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

//商品明細
.view-product{
    #g-main{
        .g-content{
            padding-top: 0;
            .hikashop_product_left_part{
                .hikashop_global_image_div{
                    margin-bottom: 20px;
                    .hikashop_small_image_div{
                        a{
                            display: inline-block;
                            width: 120px;
                            border: 1px solid $colorddd;
                            margin-right: 10px;
                            .hikashop_child_image{
                                padding: 5px;
                            }
                        }
                    }
                }
                
            }
            .hikashop_product_right_part{
                .hikashop_product_custom_info_main{
                    h4{
                        font-size: $font24;
                        color: $color000;
                    }
                }
                .hikashop_product_price_main{
                    display: block;
                    .hikashop_product_price_full{ 

                        display: block;
                        border-bottom: 1px solid $colorccc;
                        padding: 7px 10px;
                        text-align: right;
                        color: #f00;
                        font-size: $font18;
                        line-height: 24px;
                        .hikashop_product_price{
                            color: $colorf00;
                            font-size: $font36;
                            line-height: 1.5;
                        }
                    }
                }
                .hikashop_product_quantity_main{
                    .hikashop_product_stock{
                        margin: 15px 0px 15px 0;
                        text-align: right;
                        .hikashop_product_quantity_change_div_leftright{
                            margin: 0 15px 0;
                            span{
                                border-radius: 0;
                                background: none;
                                padding: 6px 18px;
                                a{
                                    color: $color000;
                                    font-size: $font36;
                                    &:hover{
                                        color: $colorf00;
                                    }
                                }
                                .hikashop_product_quantity_field_change_plus{
                                    line-height: 36px;
                                }
                                .hikashop_product_quantity_field_change_minus{
                                    line-height: 36px;
                                }
                            }
                            span:last-child{
                                padding: 0 15px 12px;
                            }
                            .hikashop_product_quantity_field{
                                font-size: $font30;
                                line-height: 30px;
                                color: $color000;
                                padding: 0.28rem 0.7rem;
                                width: 60px;
                                text-align: right;
                            }
                        }
                        .hikashop_product_quantity_add_to_cart_div{
                            display: inline-block;
                            input{
                                font-size: $font24;
                                padding: 14px 30px;
                            }
                        }
                        #hikashop_add_wishlist{
                            display: inline-block;
                            input[name="wish"]{
                                background: none;
                                color: $color000;
                                border-top: 0;
                                border-left: 0;
                                border-right: 0;
                                box-shadow: none;
                                font-size: $font18;
                                padding: 14px 30px;
                                &:hover{
                                    color: $colorf00;
                                }
                            }
                        }
                    }
                }
            }
            .hikashop_product_bottom_part{
                border-top: 1px solid $colorddd;
                margin-top: 30px;
                padding-top: 5px;
            }
        }
    }
}

//會員註冊
.view-registration{
    #g-main{
        .registration{
            width: 320px;
            margin: 0 auto;
            .form-horizontal {
                border-radius: 0;
                background: none;
                box-shadow: none;
                h5{
                    &:before{
                        content: " ";
                        border-top: 1px solid #e5e5e5;
                        width: 40%;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                    &:after{
                        content: " ";
                        border-top: 1px solid #e5e5e5;
                        width: 40%;
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 10px;
                    }
                }
                input{
                    border-radius: 0;
                    font-size: $font15;
                    width: 94%;
                }
                legend{
                    margin: 0;
                    font-size: 2rem;
                }
                .control-group{
                    margin-bottom: 10px;
                    .control-label{
                        width: auto;
                        margin-right: 10px;
                        text-align: left;
                        float: none;
                    }
                    .controls{
                        margin-left: 0;
                    }
                    .btn{
                        width: 49%;
                    }
                }
            }
        }
    }
}

//會員登入
.view-login{
    #g-main{
        .login{
            width: 320px;
            margin: 0 auto;
            .form-horizontal {
                padding: 20px 20px 10px;
                border-radius: 0;
                background: none;
                box-shadow: none;
                input{
                    border-radius: 0;
                    font-size: $font15;
                }
                .control-label{
                    width: auto;
                    margin-right: 10px;
                }
                .controls{
                    margin-left: 0;
                }
                .btn{
                    width: 97%;
                }
                legend{
                    margin: 0;
                    font-size: 2rem;
                }
                h5{
                    &:before{
                        content: " ";
                        border-top: 1px solid #e5e5e5;
                        width: 40%;
                        display: inline-block;
                        vertical-align: middle;
                        margin-right: 10px;
                    }
                    &:after{
                        content: " ";
                        border-top: 1px solid #e5e5e5;
                        width: 40%;
                        display: inline-block;
                        vertical-align: middle;
                        margin-left: 10px;
                    }
                }
            }
        }
        .nav-stacked{
            width: 320px;
            margin: 0 auto;
            li a{
                border-radius: 0;
            }
        }
    }
}

//結帳頁面 checkout page
.view-checkout{
    #g-main{
        #hikashop_checkout_page{
            h1{

            }
            legend{
                font-size: 30px;
                padding-bottom: 10px;
                border-bottom: 1px solid $colorddd;
            }
            #hikashop_checkout_login{
                #hikashop_checkout_login_left_part{
                    .add-on{
                        border-radius: 0;
                        background: none;
                        i{
                            font-size: $font15;
                        }
                        label{
                            position: relative;
                            width: 50px;
                            overflow: visible;
                        }
                    }
                    .input-small{
                        width: 69%;
                        font-size: 16px;
                        border: 1px solid #ccc;
                    }
                    .hasTooltip{
                        border-radius: 0;
                        background: none;
                        border-color: #ccc;
                        padding: 6px 12px 7px;
                    }
                    #form-login-submit{
                        input{
                            width: 80%;
                        }
                    }
                }
                #hikashop_checkout_login_right_part{
                    .form-horizontal{
                        .control-label{
                            width: 25%;
                        }
                        .controls{
                            margin-left: 28%;
                            input{
                                border-radius: 0;
                                width: 80%;
                            }
                        }
                    }
                }
            }

            #hikashop_checkout_address_billing_only{
                margin-bottom: 25px;
            }
            #hikashop_payment_methods{
                margin-bottom: 25px;
                border-bottom: 1px solid $colorddd;
                table{
                    border: 0;
                    td{
                        border: 0;
                        .hikashop_checkout_payment_description{
                            display: inline-block;
                            margin-left: 10px;
                        }
                        .btn-primary.active{
                            background: $color000;
                            border-radius: 0;
                            padding: 7px 12px;
                            font-size: $font15;
                            &:hover{
                                background: $colorddd;
                            }
                        }
                    }
                }
            }
            #hikashop_checkout_coupon{
                #hikashop_checkout_coupon_input{
                    margin-bottom: 5px;
                    font-size: $font18;
                    border-radius: 0;
                }
                .hikashop_cart_input_button{
                    margin-bottom: 5px;
                }
            }
            #hikashop_checkout_cart{
                margin-bottom: 25px;
                table td{
                    padding: 15px;
                }
                .hikashop_cart_product_image_value{
                    width: 34%;
                }
                .hikashop_cart_product_name_value{
                    p{
                        margin: 0;
                    }
                }
                .hikashop_cart_product_price_value{
                    width: 10%;
                }
                .hikashop_cart_product_quantity_value{
                    width: 15%;
                    input{
                        font-size: $font15;
                        border-radius: 0;
                        margin-bottom: 3px;
                        width: 50px;
                    }
                    .hikashop_cart_product_quantity_refresh,
                    .hikashop_cart_product_quantity_delete{
                        display: inline-block;
                        border: 1px solid #ccc;
                        padding: 5px 8px;
                        a{
                            .fa{
                                font-size: $font18;
                            }
                        }
                    }
                }
                .hikashop_cart_total_value{
                    width: 10%;
                    .hikashop_checkout_cart_final_total{
                        color: $colorf00;
                        font-weight: bold;
                    }
                }
            }
            #hikashop_checkout_additional_info{
                margin-bottom: 25px;
                table{
                    background: #f9f9f9;
                    border: 0;
                    td{
                        border: 0;
                        textarea{
                            font-size: $font15;
                            width: 99%;
                        }
                    }
                }
            }
            #hikashop_checkout_status{
                .label-info{
                    font-size: $font15;
                    padding: 10px 10px;
                    background: #000;
                    border-radius: 0;
                }
            }
        }
    }
}

#g-subfeature{
    padding: 1.0rem 0;
    background: $color111;
    color: $color999;
    h3{
        color: $colorfff;
        border-bottom: 1px solid $color666;
        padding-bottom: 15px;
        margin: 0 0 20px;
    }
    h4{
        margin: 0.0rem 0 0.5rem 0;
        a{
            color: $colorccc;
            &:hover{
                color: $colorfff;
            }
        }
    }
    p{
        margin: 0.3rem 0;
        a{
            color: $color999;
            &:hover{
                color: $colorfff;
            }
        }
    } 
    .subfootericon{
        img{
            padding: 15px;
        }
    }
    .customsitemap{
        padding-left: 25px;
    }
}

#g-footer{
    background: $color000;
    .g-content{
        color: $color999;
    }
}

#g-offcanvas{
    background: $color000;
    a{
        color: $colorfff;
        &:hover{
            color: #85a9e1;
        }
    }
    .g-content{
        padding: 1.238rem 0.938rem;
        border-bottom: 1px solid #333;
    }
    .search{
        form{
            margin: 0;
        }
        input.search-query{
            border-radius: 0px;
            width: 71%;
            font-size: $font15;
            padding: 6px 10px;
            color: $color000;
        }
        .button ,.btn{
            padding: 4px 12px 3px;
            background: $color333;
            border-radius: 0px;
            border: 0;
        }
        .fa{
            font-size: $font24;
        }
    }
    .category-mobile{
        .hikashop_category_list{
            list-style: none;
            margin: 0.75rem 0 0.75rem 0.75rem;
            .hikashop_category_list_item{
                padding: 0px 0 10px;
                &:before{
                    cursor: pointer;
                    width: 1.0rem;
                    font-family: FontAwesome;
                    content: "\f105";
                    text-align: right;
                    margin-right: 5px;
                }
            }
        }
    }
    #g-mobilemenu-container{
        margin: 0;
        ul{
            background: none;
            .g-menu-item-container{
                padding: 0.638rem 1rem 0.638rem 0;
                font-size: $font18;
                line-height: 1.2;
                .fa{
                    font-size: $font24;
                }
                .g-menu-parent-indicator{
                    right: 0.5rem;
                }
            }
            .g-dropdown{
                right: -20px;
                .g-menu-item-container{
                    padding: 0;
                    .hikashop_cart_module{
                        table{
                            width: 88%;
                            border-color: $color333;
                            thead{
                                tr{
                                    th{
                                        background: $color000;
                                    }
                                }
                            }
                            td{
                                border-color: $color333;
                                width: 36%;
                            }
                            hr{
                                margin: 0.5rem 0;
                                border-bottom: 1px solid $color666;
                            }
                            .hikashop_product_price{
                                color: $colorf00;
                            }
                        }
                        .button{
                            border: 1px solid $color333;
                            border-radius: 0;
                            background: none;
                            width: 76%;
                            margin-right: 10px;
                            font-size: 16px;
                            margin-top: 20px;
                            box-shadow: none;
                            text-shadow: none;
                            &:hover{
                                border: 1px solid $colorccc;
                                -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,255,255,.6);
                                -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255,255,255,.6);
                                box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255,255, .6);
                                color: $colorfff;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (min-width:1200px){
    #g-main{
        .row-fluid{
            .span4{
                width: 33.333333%;
                margin: 0;
            }
            .span2{
                width: 16.666666%;
                margin: 0;
            }
        }
    }
}

@media (min-width:992px) and (max-width:1199px){

}

@media (min-width:768px) and (max-width:991px){

}

@media (min-width:600px) and (max-width:767px){

}

@media (max-width:599px){
    #g-header{
        .search{
            display: none;
            visibility: hidden;
        }
        .search, .logo{
            .g-content{
                padding: 0;
            }
        }
    }
    #g-navigation{
        display: none;
        visibility: hidden;
    }
    #g-feature{
        .breadcrumb{
            li:first-child{
                display: none;
            }
        }
    }

    .view-category, .view-product{
        #g-main{
            .g-content{
                .hikashop_products_listing_main{
                    .row-fluid{
                        .thumbnails{
                            .hikashop_subcontainer{
                                .hikashop_product_price_full{
                                    width: 110px;
                                    padding: 7px 0px;
                                }
                                form{
                                    box-sizing: content-box;
                                    .hikashop_product_quantity_change_div_leftright{
                                        span{
                                            padding: 0 10px;
                                        }
                                        span:last-child{
                                            padding: 0 9px 8px;
                                        }
                                    }
                                    .hikashop_product_quantity_add_to_cart_div{
                                        width: 100%;
                                        display: block;
                                        margin-top: 15px;
                                        input{
                                            box-sizing: border-box;
                                            width: 96%;
                                            padding: 9px 0px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}